.btn{
    --background:#7C9A92;
    --background-focused:#7C9A92;
    --background-focused-opacity:#7C9A92;
    --background-hover:#7C9A92;
    --background-hover-opacity:#7C9A92;
    --border-color:#7C9A92;
}