.dont_have_acc{
    font-size: 20px;
    font-weight: 300 !important;
    margin-top: 18px !important;
    text-align: center;
    a{
        font-weight: 700 !important;
        text-decoration: none;
        
    }
}