.container {
    padding: 59px 25px 0px !important;

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 31px !important;

        .hero {
            width: 35px;
            height: 35px;
            border-radius: 35px;
        }
    }
}