.container {
    padding: 59px 25px 0px !important;

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 31px !important;

        .hero {
            width: 35px;
            height: 35px;
            border-radius: 35px;
        }
    }

    h2 {
        font-weight: 500;
        font-size: 30px;
        line-height: 41px;
    }

    p {
        font-size: 22px;
        line-height: 26px;
        color: rgba(255, 255, 255, 0.7) !important;
        font-family: 'Alegreya Sans' !important;
        margin-bottom: 27px !important;
    }

    .feelings {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 22px !important;

        .img-container {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 62px;
            height: 65px;
            background: rgba(255, 255, 255, 0.9);
            border-radius: 20px;
            margin-bottom: 5px !important;
        }

        p {
            font-size: 12px !important;
            line-height: 14px !important;
            text-align: center;
        }
    }

    .mediation-list {
        max-height: 372px;
        background-color: transparent;
        overflow: scroll;

        .mediation-item {
            padding: 22px 18px !important;
            border-radius: 26px;
            background-color: #F7F3F0;
            display: flex;
            margin-bottom: 26px !important;

            .left {
                h3 {
                    font-family: 'Alegreya' !important;
                    font-style: normal;
                    font-weight: 500 !important;
                    font-size: 24px;
                    line-height: 34px;
                    color: #253334 !important;
                }

                p {
                    font-family: 'Alegreya Sans' !important;
                    font-style: normal;
                    font-weight: 500 !important;
                    font-size: 15px;
                    line-height: 18px;
                    color: #000000 !important;
                    margin-bottom: 16px !important;
                }

                button {
                    width: 138px;
                    height: 39px;
                    border-radius: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 0 10px;
                    background-color: #253334;
                }
            }
        }
    }
}